<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>XinRevolution</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Homenaje|Libre+Barcode+128|Noto+Sans+TC|Pathway+Gothic+One|Open+Sans:400,600i,700i,800i|Share+Tech|Share+Tech|Roboto&amp;subset=latin-ext">
    <link rel="stylesheet" href="~/lib/hamburger/css/hamburgers.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/myScss.css" />

    @RenderSection("Styles", required: false)

    <script src="~/lib/jquery/js/jquery.3.3.1.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    @* Animation *@
    <div class="@ViewBag.Animation" id="layout-animation-block"></div>

    @* Header *@
    <header class="header-div">
        <div class="btn left-top border-bottom">
            <div class="hamburger hamburger--emphatic js-popup-ctrl" data-target="#popup-menu">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>

        <div class="logo-header">
            <a asp-controller="Home" class="navbar-brand">
                <div class="x-logo"></div>
            </a>
        </div>

        <div class="btn border-bottom right-top">
            <a href="#" class="btn icon-account"></a>
            <a href="#" class="btn icon-shopping-cart"></a>
            <a href="#" class="btn icon-search"></a>
        </div>
    </header>

    @* Content *@
    <div class="wrapper overflow-auto-y">
        <div class="h100 relative">
            @RenderBody()

            <div>
                <div class="top-sight"></div>

                <div class="bottom-sight">
                    <embed class="circle-g" src="~/images/circle-g .svg" type="image/svg+xml" />
                </div>

                <div class="grid-container">
                    <div class="cross-div">
                        <div class="column-6 "></div>
                        <div class="column-6 "></div>
                        <div class="column-6 "></div>
                        <div class="column-6 "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Footer *@
    <footer>
        <div class="btn border-top left-bottom">
            <div class="btn btn-square js-popup-ctrl" data-target="#popup-aboutUs">ABOUT_US</div>
        </div>

        <div class="right btn border-top right-bottom">
            <nav>
                <a class="btn icon-twitter" href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank"></a>
                <a class="btn icon-fb" href="https://www.facebook.com/XinRevo/" target="_blank"></a>
            </nav>
        </div>

        <div class="footer-div"></div>
    </footer>

    @* Menu *@
    <div class="menu-div js-popup-block" id="popup-menu">
        <partial name="/Views/Home/_Menu.cshtml" />
    </div>

    @* AboutUs *@
    <div class="aboutUs-div js-popup-block" id="popup-aboutUs">
        <partial name="/Views/Home/_AboutUs.cshtml" />
    </div>

    @* Popup *@
    <div class="display-none js-popup-block" id="layout-popup-block"></div>

    @RenderSection("Scripts", required: false)
</body>
</html>
