<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>XinRevolution - Manager</title>

    <link rel="stylesheet" href="~/lib/jquery-datatable/css/jquery.datatables.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap.datepicker.min.css" />
    <link rel="stylesheet" href="~/lib/icon/css/icon.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/js/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-datatable/js/jquery.datatables.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap.datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap.datepicker.zh-TW.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <span>XinRevolution</span>
        <a class="float-right" asp-controller="Home" asp-action="Logout">登出</a>
    </header>

    <section class="main-frame">
        <aside>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="User" asp-action="Index">使用者管理</a>
                </li>
                <li class="nav-item">
                    <div class="accordion" id="menu-accordion-blog">
                        <div class="accordion-head" id="menu-accordion-blog-head">
                            <a href="#" data-toggle="collapse" data-target="#menu-accordion-blog-content" aria-expanded="false" aria-controls="menu-accordion-blog-content">部落格管理</a>
                        </div>

                        <div class="acoordion-content collapse" id="menu-accordion-blog-content" aria-labelledby="menu-accordion-blog-head" data-parent="#menu-accordion-blog">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Tag" asp-action="Index">標籤管理</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Blog" asp-action="Index">部落格管理</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Issue" asp-action="Index">追蹤議題管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Work" asp-action="Index">作品管理</a>
                </li>
                <li class="nav-item">
                    <div class="accordion" id="menu-accordion-firegeneration">
                        <div class="accordion-head" id="menu-accordion-firegeneration-head">
                            <a href="#" data-toggle="collapse" data-target="#menu-accordion-firegeneration-content" aria-expanded="false" aria-controls="menu-accordion-firegeneration-content">焰世代管理</a>
                        </div>

                        <div class="acoordion-content collapse" id="menu-accordion-firegeneration-content" aria-labelledby="menu-accordion-firegeneration-head" data-parent="#menu-accordion-firegeneration">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="FGGroup" asp-action="Index">群組管理</a>
                                    <a class="nav-link" asp-controller="" asp-action="Index">世界觀管理</a>
                                    <a class="nav-link" asp-controller="" asp-action="Index">時間軸管理</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </aside>

        <article>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </article>
    </section>

    <footer>&copy; Motivators 2019</footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
