@model BlogPostMD

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Blog" asp-action="Index">部落格管理</a></li>
            <li class="breadcrumb-item"><a asp-controller="BlogPost" asp-action="Index" asp-route-blogId="@ViewBag.BlogId">內文管理</a></li>
            <li class="breadcrumb-item active" aria-current="page">刪除</li>
        </ol>
    </nav>
</div>

<div>
    <form asp-controller="BlogPost" asp-action="Delete" method="post" autocomplete="off" enctype="multipart/form-data">
        <input asp-for="Id" />
        <input asp-for="BlogId" value="@ViewBag.BlogId" />

        <div class="form-group row">
            <label class="col-2 col-form-label" asp-for="ReferenceType"></label>
            <div class="col-10">
                <select class="form-control" asp-for="ReferenceType" asp-items="Model.ReferenceTypeOptions" disabled></select>
                <input asp-for="ReferenceType" type ="hidden" />
                <span class="text-danger" asp-validation-for="ReferenceType"></span>
            </div>
        </div>

        <div class="form-group row d-none blog-reference-block" id="TextReferenceBlock">
            <label class="col-2 col-form-label" asp-for="TextReferenceContent"></label>
            <div class="col-10">
                <textarea class="form-control" asp-for="TextReferenceContent" rows="10" readonly></textarea>
                <span class="text-danger" asp-validation-for="TextReferenceContent"></span>
            </div>
        </div>

        <div class="form-group row d-none blog-reference-block" id="MediaReferenceBlock">
            <label class="col-2 col-form-label" asp-for="MediaReferenceContent"></label>
            <div class="col-10">
                <div class="input-group">
                    <input class="form-control" asp-for="MediaReferenceContent" readonly />
                    <div class="input-group-append">
                        <input class="d-none" asp-for="ResourceFile" accept=".jpg,.jpeg,.png,.svg,.gif,.mp4" />
                        <label class="btn btn-primary" asp-for="ResourceFile"></label>
                    </div>
                </div>
                <span class="text-danger" asp-validation-for="MediaReferenceContent"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label" asp-for="Sort"></label>
            <div class="col-10">
                <input class="form-control" asp-for="Sort" readonly/>
                <span class="text-danger" asp-validation-for="Sort"></span>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <span class="text-danger">@ViewBag.ErrorMessage</span>
        </div>

        <div class="form-group row justify-content-center">
            <button class="btn btn-primary" type="submit">送出</button>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        initFileInput($('#ResourceFile'), $('#MediaReferenceContent'));
        showBlogReferenceInputBlock($('#ReferenceType'));
    </script>
}