@import 'mixin.scss';

//workList 

.work-list {
    top: 50%;
    padding-left: 8vw;
    transform: translateY(-50%);
    white-space: nowrap;
    position: absolute;
    overflow-x: scroll;
    width: 100%;
}

.work-list::-webkit-scrollbar {
    display: none
}

.custom-slick {
    margin-right: 0;
    width: 100%;
}


.work-list {
    width: 100%;

    &:hover {
        .work-div {
            opacity: 0.2;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.work-div {
    @include transition(all, 0.6s, ease, 0s);
    width: 20rem;
    // background: rgba(0, 0, 0, 0.5);
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5rem;
    position: relative;


    .no-data {
        width: 100%;
        height: 30rem;
        color: $black;
        background: #ccc;
    }

    // 作品內文
    .work-info {
        @include transition(all, 0.6s, ease, 0s);
        
        width: 100%;
        height: 100%;
        padding: 0 0.5rem;
        position: absolute;
        left: 0;
        top: 0;
        text-align: left;
        color: #fff;
        white-space: normal;
        visibility: hidden;

    }

    &:hover {
        width: 40rem;

        // 作品內文
        .work-info {
            background: rgba(204, 204, 204, 1);
            visibility: visible;
        }

    }
}