@model FGChapterComicMD

@{
    var chapter = ViewBag.Chapter as FGSeasonChapterEntity;
}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="FGSeason" asp-action="Index">焰世代 - 時間軸 - 季管理 - <span>@chapter.Season.SerialNumber</span></a></li>
            <li class="breadcrumb-item"><a asp-controller="FGSeasonChapter" asp-action="Index" asp-route-seasonId="@chapter.SeasonId">章節管理 - <span>@chapter.SerialNumber</span></a></li>
            <li class="breadcrumb-item active" aria-current="page">刪除</li>
        </ol>
    </nav>
</div>

<div>
    <form asp-controller="FGChapterComic" asp-action="Delete" method="post" autocomplete="off" enctype="multipart/form-data">
        <input asp-for="Id" />
        <input asp-for="ChapterId" />

        <div class="form-group row">
            <label class="col-2 col-form-label" asp-for="Page"></label>
            <div class="col-10">
                <input class="form-control" asp-for="Page" readonly />
                <span class="text-danger" asp-validation-for="Page"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label" asp-for="ResourceUrl"></label>
            <div class="col-10">
                <div class="input-group">
                    <input class="form-control" asp-for="ResourceUrl" readonly />
                    <div class="input-group-append">
                        <input class="d-none" asp-for="ResourceFile" accept=".jpg,.jpeg,.png,.svg,.gif" disabled />
                        <label class="btn btn-primary" asp-for="ResourceFile"></label>
                    </div>
                </div>
                <span class="text-danger" asp-validation-for="ResourceUrl"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label" asp-for="Note"></label>
            <div class="col-10">
                <input class="form-control" asp-for="Note" readonly />
                <span class="text-danger" asp-validation-for="Note"></span>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <span class="text-danger">@ViewBag.ErrorMessage</span>
        </div>

        <div class="form-group row justify-content-center">
            <button class="btn btn-primary" type="submit">送出</button>
        </div>
    </form>
</div>