<div class="content">
    <div class="aboutUs-content grid-container">
        <div>
            <div>照片</div>
            <div>資料</div>
        </div>

        <div class="close">X</div>
    </div>
</div>