@* 系統選單 *@
<nav class="grid-container ">
    <div class="column-12 h100">
        <a asp-controller="Home" asp-action="Index">INDEX</a>
        <a asp-controller="Blog" asp-action="Index">BLOGS</a>
        <a asp-controller="Work" asp-action="Index">WORKS</a>
        <a asp-controller="Issue" asp-action="Index">ISSUES</a>
    </div>

    <div class="column-12 h100"></div>

    <div class="close js-popup-close">X</div>
</nav>