@* 系統選單 *@
<nav class="grid-container ">
    <div class="column-12 h100">
        <a asp-controller="Home">INDEX</a>
        <a asp-controller="Blog">BLOGS</a>
        <a asp-controller="Work">WORKS</a>
        <a asp-controller="Issue">ISSUES</a>
    </div>

    <div class="column-12 h100"></div>

    <div class="close js-popup-close">X</div>
</nav>