@* 錯誤頁面 *@
<div>
    <div>
        <h1>系統錯誤，請聯絡系統管理員</h1>
    </div>
   
    <div>@ViewBag.ErrorMessage</div>
    
    <div>
        <a asp-controller="Home" asp-action="Index">返回</a>
    </div>
</div>