@* 焰世代 - 導覽列 *@
<div class="fire-menu">
    <div class="close"></div>

    <div class="fire-content">
        <div class="icon-fire"></div>

        <div><a asp-controller="FireGeneration" asp-action="Intro" asp-route-workId="1">詳細介紹</a></div>

        <div><a asp-controller="FireGeneration" asp-action="Index">人物選單</a></div>
        
        <div><a asp-controller="FireGeneration" asp-action="TimeLine">故事時間軸</a></div>
        
        <div><a asp-controller="FireGeneration" asp-action="WorldView">世界觀</a></div>

        <div class="warning-lines"></div>
    </div>
</div>