@model FireGenerationViewCategoryEventViewModel

@* 世界觀 - 項目 *@
<div class="readSection-1">
    <h2>@Model.Event.Title</h2>

    <hr>

    <img src="@Model.Event.ResourceUrl" alt="@Model.Event.Title" align="top">

    <p>@Model.Event.Intro</p>
</div>