@using XinRevolution.Database.Enum.FireGeneration

@model FireGenerationIndexViewModel

@* 焰世代 - 首頁 *@
<div class="class="js-group-container"">
    @foreach (var group in Model.FireGenerationGroups.OrderBy(x => x.Sort))
    {
        <div>
            <div class="background">
                <img src="@group.ResourceUrl" />
            </div>

            <div class="characters-bg">
                <div class="grid-container h100 relative content">
                    @foreach (var role in group.Roles.OrderBy(x => x.Sort))
                    {
                        var mainPicture = role.Resources.Single(x => x.Type == FGRoleResourceTypeEnum.Main1).ResourceUrl;
                        var vicePicture = role.Resources.Single(x => x.Type == FGRoleResourceTypeEnum.Main2).ResourceUrl;

                        <div class="characters-div">
                            <a class="btn btn-square" asp-controller="FireGeneration" asp-action="Character">@role.Name</a>
                            <img class="onhover" src="@mainPicture" />
                            <img class="default" src="@vicePicture" />
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    <partial name="/Views/FireGeneration/_Navigator.cshtml" />
</div>

@section Styles{
    <style>
        .nameDiv {
            margin-bottom: 0.5rem;
        }

        .characterInfo {
            top: 50%;
            position: relative;
        }

        td {
            border: 1px solid #000;
        }
    </style>
    <link rel="stylesheet" href="~/lib/slick/css/slick.css" />
    <link rel="stylesheet" href="~/lib/slick/css/slick-theme.css" />
}

@section Scripts{
    <script src="~/lib/slick/js/slick.min.js"></script>
    <script src="~/js/firegeneration/firegenration.index.js"></script>
}